apiVersion: v1
kind: ConfigMap
metadata:
  name: gangway-ca-certs
  namespace: gangway
data:
  rootca.crt: |
    -----BEGIN CERTIFICATE-----
    MIIDhzCCAm+gAwIBAgIUY7fKHLDjSlFpSgkjYzuG2X/oXxIwDQYJKoZIhvcNAQEL
    BQAwHzELMAkGA1UEBhMCVVMxEDAOBgNVBAoMB1Bpdm90YWwwHhcNMTgxMDI4MTky
    NzUzWhcNMjAxMDI4MTkyNzUzWjBCMQswCQYDVQQGEwJVUzEQMA4GA1UECgwHUGl2
    b3RhbDEhMB8GA1UEAwwYcGtzYXBpLmxhYi5hbGVrc3NhdWwuY29tMIIBIjANBgkq
    hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwVkxXdVfet84B4E2CaWpRhZ8vq+NxrDx
    5RYLYR0SJQht0vSLRGidFW+qCusapG2Sq2rvHmolbZoIPikKVPBm7FgydJGWR57h
    AdHwCYbGLf1lQFaHhwywKPUTjAf9UyrxncKyV6l7+KcvoMZfIpr4mgsKRe+b3Yxk
    1MRsP6onGsgM68emOCYE1ATCvFXKysMCrUYLlQIipeAo/iIfJh3zT/0n1lQfBo/p
    4sTmQfxezMdYY3UIiojcNO4Paksq+2WJ8ctaQ0aBaf/gRWPUqPwXAKy0w+xs06X7
    05vsv5qaRtGhe4UmHTDXTxoP/ClBcKNx4BkCbsIQzOiuoIi67CUp7wIDAQABo4GX
    MIGUMB0GA1UdDgQWBBSrJpnLjoTCd5JhQf4Thtz3JvDiRDAfBgNVHSMEGDAWgBQH
    kxcRrvi+zvuAE/iHErd05iUTDTAdBgNVHSUEFjAUBggrBgEFBQcDAgYIKwYBBQUH
    AwEwDgYDVR0PAQH/BAQDAgeAMCMGA1UdEQQcMBqCGHBrc2FwaS5sYWIuYWxla3Nz
    YXVsLmNvbTANBgkqhkiG9w0BAQsFAAOCAQEAe9sQBq+j4eG8WjtZTZ5LGPUXkBLJ
    HturpNFW6C8pko0XaVe1ivnKMurKYzVpCfEhfMQSf2RDyWcwsz3ynFGtoc7Alg1/
    S/JhN1CdENI44ocl03GurGheyOa8qVEL+oSRwwWndXRa6jngtGWIVwR3VdIajkzt
    qoGkdcqvZuYr4BkCdA9AcLc/yOUJb5zhLbqqPGuIxFm/8gmlcXRKzPKaIvz9UK4H
    o3kMLtQ8FL6F/hSYgkym2vm6WoSMyWtPtG5nfi1DD75sfY8fXLUpqxALmtXiudBR
    VOyU2KL3DrnHgQbWKG7QOjSMdomTEmykmAYGNH0SE9DQJasu2eEQxzq9vA==
    -----END CERTIFICATE-----

